{% extends 'index.html' %}
{% block new_qu_comment %}
<body class="container pt-3">
    <h3>Add new question comment</h3>


        {% for question in questions %}
        <form action="/question/{{ question.id }}/new-comment" , method="POST">
        {% endfor %}
        <label for="message">Message</label><br>
        <textarea id="message"  name="message" placeholder="new comment" rows="10" cols="40"></textarea><br><br>
        <button class="btn btn-outline-secondary" type="submit">Send</button>
    </form>
</body>
{% endblock %}