{% extends 'index.html' %}
{% block  edit %}


<body class="container pt-3">
    <form action="/question/{{ id }}/edit" method="POST">
       <label for="title">Title</label><br>
       <input id="title" type="text" name="title" value="{{ question.get('title','')  }}"><br><br>

       <label for="message">Message</label><br>
       <textarea id="message"  name="message" rows="10" cols="30">{{ question.get('message','') }}"</textarea><br><br>

        <label for="image">Add Image</label><br>
       <input id="image" type="url" name="image" value="{{ question.get('image','') }}"><br><br>
       <button  class="btn btn-outline-secondary" type="submit">Update question</button>
   </form>

</body>
{% endblock %}
